:root{
    /* color vars */
    --main-color: rgb(224, 225, 226);
    --secondary-color: #fafafa;
    --third-color: #f36923;
    --keywords: #544647;
    --black: rgb(0,0,0);
    --font-color-selector: rgb(0,0,0);
    --players-limit : rgb(224, 44, 44);
     /* Fonts */
     --primary-font: impact;
     --secondery-font: Arial, Helvetica, sans-serif;
     
     /*Font-size*/
     --size-L: 30px;
     --size-M: 20px;
     --size-S: 15px;
}