:root{
    /* color vars */
    --main-color: rgb(224, 225, 226);
    --secondary-color: rgb(86, 102, 136);
    --font-main-color: rgb(71, 68, 68);
    --dark: rgb(4, 4, 29);
    --black: rgb(0,0,0);

     /* Fonts */
     --primary-font: impact;
     --secondery-font: Arial, Helvetica, sans-serif;
     
     /*Font-size*/
     --size-L: 30px;
     --size-M: 20px;
     --size-S: 15px;
}