@import '_vars.css';
@import '_nav.css';
@import '_footer.css';

*{
    margin:0;
    padding: 0;
    outline: none;
}

button, input, select, textarea {
    background-color: white;
    border-style: none;
    color: black;
}

.main-body{
    background-color: var(--main-color)
}

.main-btn{
    cursor: pointer;
    border:none;
    font-family: var(--secondery-font);
    font-size: 1em;
    font-weight: 600;
    border-radius: .5em;
    text-align: center;
    transition: all .2s ease-in-out;
    padding: 6px 14px;
}

.main-btn:hover{
    transform: scale(1.03)
}


.my-selector{
    background-color: black;
    
}

.input-group--select.input-group--focused{
    background-color: black;
    
}
.application > div > .card>.list{
    background-color: black;
    
}
#app > div.application--wrap > section > section > section:nth-child(1) > div > div > div > div.ctg-selector-container > section > div > div.input-group__input > div.input-group__selections > input{
    cursor: pointer; 
}
.application > div > .card>.list > li > a > div >div{
    color: white;
}
.application > div > .card>.list > li > a > div >div> span{
    color:white;
}
.selector-container> .my-selector> div>div> input{
    background-color: black;
    color: white;
}

.my-selector> .input-group__input > .input-group__selections> .input-group__selections__comma{
    color: white !important;
}

.my-selector > label{
    color: white !important;
    z-index: 1;
}

.input-group__details::before{
    background-color: white;
}

.input-group__details::after{
    background-color: white;
}

.my-selector > .input-group__input> .input-group__icon-cb{
    color: white;
}